{% import "_carousel.html" as carousel %}

{% macro render(house) -%}
<div class="card" id="card-{{house._id}}">          
    <div class="overlay">
    </div>
    {% if house.thumbnail_pictures %}
        <img class="card-img-top" src="{{house.thumbnail_pictures[0]}}">
        <!--{{ carousel.render(house.thumbnail_pictures, _id=house._id, indicators=False) }}-->
    {% endif %}
    <div class="card-block">
    <p class="card-text">
        <h4 class="card-title">{{ house.town }}</h4>
        {{ '{0:,}'.format(house.price | int) }}</br>
        Rating: {{ house.score }}%
    </p>
    </div>
</div>
{%- endmacro %}