{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% call _modal.modal(title="Add new house", launch_text="Add new house", form=True) %}
                {{ _form.render_form(form, action_url=url_for('houses')) }}
            {% endcall %}
        </div>   
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include "houses_list.html" %}
        </div>
        <!--
        <div class="col-md-9">
            {% include "house_detail.html" %}
        </div>
        -->
    </div>
{% endblock %}