{% extends "base.html" %}

{% block css %}
<style>
    .carousel-item > img {
        max-height:400px;
        max-width: auto;
    }
</style>
{% endblock %}

{% block content %}

{{ house.score }}%
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3"><a href="{{house.realo_url}}">{{ house.town }}</a></div>
            <div class="col-md-3">€{{ '{0:,}'.format(house.price | int) }}</br></div>
            <div class="col-md-6">
            {% if not house.appointments %}
                {% call _modal.modal(title="Make appointment", launch_text="Make appointment", form=True, show=show_modal) %}
                    {{ _form.render(appointment_form, action_url=url_for('house_detail', _id=house._id)) }}
                {% endcall %}
            {% else %}
                {% for appointment in house.appointments %}
                    <span id="appointment-{{appointment._id}}">Afspraak op: {{appointment.dt}}</span>
                {% endfor %}
            {% endif %}
            </div>      
        </div>
        <div class="row">
            <div class="col-md-7">
               {{ _carousel.render(house.main_pictures, _id=house._id, indicators=True) }}
            </div>
            <div class="col-md-5">
                {{ googlemap("location", lat=house.lat, lng=house.lng, markers=[(house.lat, house.lng)], style="height:400px;width:100%;margin:0;") }}
            </div>
        </div>
        <h3>Information</h3>
        {% for row in house.information | batch(3) %}
        <div class="row">
            {% for information in row %}
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            {{information.name}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <b>{{information.value}}</b>
                        </div>
                    </div>    
                </div>
            {% endfor %}
        </div>
        {% endfor %}
        <h3>Criteria</h3>
            {% for row in house.criteria | batch(3) %}
            <div class="row">
                {% for criterion in row %}
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                {{ criterion.criterion.name }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {% if criterion.criterion.dealbreaker and criterion.score %}
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                {% else %}
                                <b>{{ criterion.score }}</b>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
        <div class="row">
            <div class="col-md-12">
                {% call _modal.modal(title="Edit criteria scores", launch_text="Edit criteria scores", form=True, show=show_modal, _id="criteria") %}
                    {{ _form.render(criterionscore_form, action_url=url_for('house_detail', _id=house._id)) }}
                {% endcall %}
            </div>
        </div>
        <h3>Messages</h3>
        <div class="row">
            <div>
                <div class="col-md-12">
                    {% for message in house.messages %}
                        <div class="row message" id="message-{{message._id}}">
                            <div class="col-md-3">
                                <b>{{ message.author.username }}</b>
                            </div>
                            <div class="col-md-3">
                                {{ message.readable_datetime() }}
                            </div>
                            <div class="col-md-6">
                                {{ message.body }}
                            </div>
                        </div>
                    {% endfor %}
                        <div class="row">
                            <div class="col-md-12">
                                {% call _form.render(message_form, action_url=url_for('house_detail', _id=house._id)) %}
                                    {{ _form.render_field(message_form.body, label_visible=False) }}
                                {% endcall %}
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}