{% import "_carousel.html" as carousel %}

{% macro render(house) -%}
<div class="card" id="card-{{house._id}}">          
    <div class="overlay">
    </div>
    {% if house.thumbnail_pictures %}
        <img class="card-img-top" src="{{house.thumbnail_pictures[0]}}">
        <!--{{ carousel.render(house.thumbnail_pictures, _id=house._id, indicators=False) }}-->
    {% endif %}
    <div class="card-block">
    <p class="card-text">
        <h4 class="card-title">{{ house.town | truncate(15)}}</h4>
        {{ house.price | price }}</br>
        Rating: {{ house.score }}%</br>
        <span data-toggle="tooltip" data-placement="bottom" title="{{ house.status_details }}" class="label label-{% if house.status == 'accepted' %}success{% elif house.status == 'rejected' %}danger{% elif house.status == 'controversial' %}warning{% elif house.status == 'pending' %}default{% endif %}">{{ house.status | title }}</span>
        <a href="{{url_for('mark_as_sold', _id=house._id)}}">Mark as sold</a>
    </p>
    </div>
</div>
{%- endmacro %}
