{% extends "base.html" %}
{% import "_housecard.html" as housecard %}

{% block css %}
<style>
.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
  height: 163px; 
  width: auto; 
  max-width: 100%; 
  max-height: 163px;
}

.card > .carousel {
  margin-bottom: .75rem;
  height: 280px; 
  width: auto; 
  max-width: 100%; 
  max-height: 280px;
}

.card > .overlay { 
  color:#fff;
  position:absolute;
  z-index:12;
  top:45%;
  left:0;
  width:100%;
  text-align:center;
}

.card-text {
  font-size: 85%;
}



</style>
{% endblock %}

{% block content %}

<ul class="nav nav-stacked navbar-fixed-bottom sidebar nav-pills">
  <li class="nav-item">
    <a class="nav-link {% if request.path == url_for('properties', categories=['house', 'land']) %}active{% endif %}" href="{{url_for('properties', categories=['house', 'land'])}}">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.path == url_for('properties', categories=['house']) %}active{% endif %}" href="{{url_for('properties', categories=['house'])}}">Houses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.path == url_for('properties', categories=['land']) %}active{% endif %}" href="{{url_for('properties', categories=['land'])}}">Land</a>
  </li>
</ul>

{% if current_user.is_admin %}
<div class="row">
  {% call _modal.modal(title="Add new property", launch_text="Add new property", form=True, show=show_modal) %}
    {{ _form.render(form, action_url=url_for('properties')) }}
{% endcall %}
</div>
{% endif %}
<div class="row">
  {% for re in realestate | sort(attribute='scorestatus', reverse=True) %}
    <a href="{{url_for('realestate_detail', _id=re._id)}}">{{ housecard.render(re) }}</a>
  {% endfor %}
</div>

<div class="row">
  <nav>
  <ul class="pager">
    <li class="pager-prev {% if not previous_page %}disabled{% endif %}"><a href="{{url_for('properties', page=previous_page)}}">Previous</a></li>
    <li class="pager-next {% if not next_page %}disabled{% endif %}"><a href="{{url_for('properties', page=next_page)}}">Next</a></li>
  </ul>
  </nav>
</div>


{% endblock %}