{% extends "base.html" %}

{% block content %}
    <table class="table">
        <thead>
            <th>Short</th>
            <th>Name</th>
            <th>Realo name</th>
            <th>Applies to house</th>
            <th>Applies to land</th>
            <th></th>
        </thead>
        <tbody>
            {% for info in information %}
            <tr>
                <td>
                    {{info.short}}
                </td>
                <td>
                    {{info.name}}
                </td>
                <td>
                    {{info.realo_name}}
                </td>
                <td>
                    {{info.applies_to_house}}
                </td>
                <td>
                    {{info.applies_to_land}}
                </td>
                <td>
                    <a href="{{ url_for('information_detail', _id=info._id) }}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}

