{% extends "base.html" %}

{% block content %}

    <table class="table">
        <thead>
            <th>
                Category
            </th>
            <th>
                Datetime
            </th>
            <th>
                Message
            </th>
        </thead>
        <tbody>
            {% for notification in notifications %}
                <tr{% if not notification.read %} class="bg-info"{% endif %}>
                    <td>{{notification.category}}</td>
                    <td>{{notification.readable_datetime()}}</td>
                    <td>{{notification.body|safe}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}